body,h1,h2,h3,h4,h5 {
    font-family: "Block Berthold Condensed"!important;
}
body {
    font-size: 16px;
}
img {
    margin-bottom: -8px;
}

p {
    font-family: "Roboto Condensed"!important;	
}

.mySlides {
    display: none;
}

html {
  scroll-behavior: smooth;
}

/*Pour retourner en haut*/
#return-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.7);
    width: 50px;
    height: 50px;
    display: block;
    text-decoration: none;
    -webkit-border-radius: 35px;
    -moz-border-radius: 35px;
    border-radius: 35px;
    display: none;
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
#return-to-top i {
    color: #fff;
    margin: 0;
    position: relative;
    left: 16px;
    top: 13px;
    font-size: 19px;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
#return-to-top:hover {
    background: rgba(0, 0, 0, 0.9);
}
#return-to-top:hover i {
    color: #fff;
    top: 5px;
}

.imgHover{
    width:80px;
    transition: 0.2s;
}
.imgHover:hover{
    width:100px;
    transition: 0.2s;
}

.modal-backdrop {
	opacity: 0.5;
}

a {
    color: inherit!important;
}

a:hover{
	color: inherit!important;
	text-decoration: none!important;
}

h1 {
    color: inherit!important;
}

h1 span, h2 span, h3 span, h4 span, h5 span, p span {
    color: inherit!important;
}